<?xml version="1.0" encoding="utf-8"?>
<Reports>
  <DestinationFolder>/BaseReports/01 - Contributor and Distributors</DestinationFolder>
  <LinkedReports LinkTypeSubstituteDestinationPath="/%Substitute%/01 - Contributor and Distributors">
    <BaseReport ReportId="ACT0002a" BulkLinkType="IPA_ONLY"/>
    <BaseReport ReportId="ACT0003" BulkLinkType="ALL"/>
    <BaseReport ReportId="ACT0016d" BulkLinkType="ALL"/>
    <BaseReport ReportId="ACT0045" BulkLinkType="ALL_EXCEPT_IPA"/>
    <BaseReport ReportId="ACT0045a" BulkLinkType="ALL_EXCEPT_IPA"/>
    <BaseReport ReportId="ACT0045b" BulkLinkType="ALL_EXCEPT_IPA"/>
    <BaseReport ReportId="ACT0045c" BulkLinkType="ALL_EXCEPT_IPA"/>
    <BaseReport ReportId="ACT0045d" BulkLinkType="ALL_EXCEPT_IPA"/>
    <BaseReport ReportId="ACT0048" BulkLinkType="IPA_ONLY"/>
    <BaseReport ReportId="ACT0059" BulkLinkType="ALL_EXCEPT_IPA"/>
    <BaseReport ReportId="ACT0120" BulkLinkType="ALL"/>
    <BaseReport ReportId="ACT0337" BulkLinkType="ALL_EXCEPT_IPA"/>
  </LinkedReports>
</Reports>
