<?xml version="1.0" encoding="utf-8"?>
<Reports>
  <DestinationFolder>/BaseReports/06 - Contracts</DestinationFolder>
  <LinkedReports LinkTypeSubstituteDestinationPath="/%Substitute%/06 - Contracts">
    <BaseReport ReportId="ACT0001" BulkLinkType="ALL" />
    <BaseReport ReportId="ACT0009" BulkLinkType="ALL_EXCEPT_IPA" />
    <BaseReport ReportId="ACT0028" BulkLinkType="ALL" />
    <BaseReport ReportId="ACT0028a" BulkLinkType="ALL" />
    <BaseReport ReportId="ACT0028b" BulkLinkType="ALL" />
    <BaseReport ReportId="ACT0028c" BulkLinkType="ALL" />
    <BaseReport ReportId="ACT0046" BulkLinkType="ALL" />
    <BaseReport ReportId="ACT0049b" BulkLinkType="ALL" />
	  <BaseReport ReportId="ACT0049b_CRA" BulkLinkType="CRA_ONLY" DestinationReportId="ACT0049b" />
    <BaseReport ReportId="ACT0049c" BulkLinkType="ALL" />
    <BaseReport ReportId="ACT0057" BulkLinkType="ALL" />
    <BaseReport ReportId="ACT0060" BulkLinkType="ALL"/>
    <BaseReport ReportId="ACT0061" BulkLinkType="ALL_EXCEPT_IPA_BOOKS"/>
	  <BaseReport ReportId="ACT0061_books" BulkLinkType="BOOKS_ONLY" DestinationReportId="ACT0061"/>
	  <BaseReport ReportId="ACT0061_IPA" BulkLinkType="IPA_ONLY" DestinationReportId="ACT0061"/>
    <BaseReport ReportId="ACT0061a" BulkLinkType="AUDIO_ONLY" />
	  <BaseReport ReportId="ACT0061a_IPA" BulkLinkType="IPA_ONLY" DestinationReportId="ACT0061a"/>
    <BaseReport ReportId="ACT0061a_Video" BulkLinkType="CRA_ONLY" DestinationReportId="ACT0061a"/>
    <BaseReport ReportId="ACT0280" BulkLinkType="ALL_EXCEPT_IPA" />
    <BaseReport ReportId="ACT0304" BulkLinkType="IPA_ONLY" />
    <BaseReport ReportId="ACT0309" BulkLinkType="ALL"/>
    <BaseReport ReportId="ACT0332" BulkLinkType="CRA_ONLY"/>
    <BaseReport ReportId="ACT0343" BulkLinkType="IPA_ONLY"/>
    <BaseReport ReportId="ACT0348" BulkLinkType="CRA_ONLY"/>
  </LinkedReports>
</Reports>