<?xml version="1.0" encoding="utf-8"?>
<Reports>
  <DestinationFolder>/BaseReports/05 - Products Associations</DestinationFolder>
  <LinkedReports LinkTypeSubstituteDestinationPath="/%Substitute%/05 - Products Associations">
    <BaseReport ReportId="ACT0026" BulkLinkType="ALL" />
    <BaseReport ReportId="ACT0026a" BulkLinkType="ALL_EXCEPT_IPA" />
    <BaseReport ReportId="ACT0026b" BulkLinkType="ALL" />
    <BaseReport ReportId="ACT0026C" BulkLinkType="ALL_EXCEPT_IPA" />
    <BaseReport ReportId="ACT0026d" BulkLinkType="ALL" />
    <BaseReport ReportId="ACT0026e" BulkLinkType="ALL_EXCEPT_IPA" />
    <BaseReport ReportId="ACT0026f" BulkLinkType="ALL_EXCEPT_IPA" />
    <BaseReport ReportId="ACT0026g" BulkLinkType="ALL_EXCEPT_IPA" />
    <BaseReport ReportId="ACT0026h" BulkLinkType="ALL_EXCEPT_IPA" />
    <BaseReport ReportId="ACT0026i" BulkLinkType="ALL_EXCEPT_IPA" />
    <BaseReport ReportId="ACT0026j" BulkLinkType="ALL_EXCEPT_IPA" />
    <BaseReport ReportId="ACT0026k" BulkLinkType="ALL_EXCEPT_IPA" />
    <BaseReport ReportId="ACT0026m" BulkLinkType="ALL"/>
	<BaseReport ReportId="ACT0026m_IPA" BulkLinkType="IPA_ONLY" DestinationReportId="ACT0026m"/>
    <BaseReport ReportId="ACT0026z" BulkLinkType="IPA_ONLY" />
    <BaseReport ReportId="ACT0296" BulkLinkType="IPA_ONLY" />
    <BaseReport ReportId="ACT0306" BulkLinkType="ALL"/>
    <BaseReport ReportId="ACT0349" BulkLinkType="CRA_ONLY"/>
  </LinkedReports>
</Reports>