<?xml version="1.0" encoding="utf-8"?>
<Reports>
  <DestinationFolder>/BaseReports/00 - Report Info and Approvals</DestinationFolder>
  <LinkedReports LinkTypeSubstituteDestinationPath="/%Substitute%/00 - Report Info and Approvals">
    <BaseReport ReportId="ACT0007" BulkLinkType="ALL" />
    <BaseReport ReportId="ACT0008" BulkLinkType="ALL" />
    <BaseReport ReportId="ACT0010" BulkLinkType="ALL" />
    <BaseReport ReportId="ACT0030" BulkLinkType="ALL_EXCEPT_IPA" />
    <BaseReport ReportId="ACT0030v" BulkLinkType="ALL_EXCEPT_IPA" />
    <BaseReport ReportId="ACT0031" BulkLinkType="ALL_EXCEPT_IPA" />
    <BaseReport ReportId="ACT0036" BulkLinkType="ALL_EXCEPT_IPA" />
	  <BaseReport ReportId="ACT0036_CRA" BulkLinkType="CRA_ONLY" DestinationReportId="ACT0036"/>
    <BaseReport ReportId="ACT0052a" BulkLinkType="IPA_ONLY" />
    <BaseReport ReportId="ACT0071" BulkLinkType="ALL" />
    <BaseReport ReportId="ACT0072" BulkLinkType="ALL" />
    <BaseReport ReportId="ACT0073" BulkLinkType="ALL" />
    <BaseReport ReportId="ACT0140" BulkLinkType="ALL_EXCEPT_IPA"/>
    <BaseReport ReportId="ACT0150" BulkLinkType="ALL" />
    <BaseReport ReportId="ACT0334" BulkLinkType="ALL" />
    <BaseReport ReportId="ACT0335" BulkLinkType="ALL" />
  </LinkedReports>
</Reports>