<?xml version="1.0" encoding="utf-8"?>
<Reports>
  <DestinationFolder>/BaseReports/08 - Payments</DestinationFolder>
  <LinkedReports LinkTypeSubstituteDestinationPath="/%Substitute%/08 - Payments">
    <BaseReport ReportId="ACT0011" BulkLinkType="ALL" />
    <BaseReport ReportId="ACT0032" BulkLinkType="ALL_EXCEPT_IPA" />
    <BaseReport ReportId="ACT0032_CRA" BulkLinkType="CRA_ONLY" DestinationReportId="ACT0032"/>
    <BaseReport ReportId="ACT0032a" BulkLinkType="IPA_ONLY" />
    <BaseReport ReportId="ACT0032b" BulkLinkType="ALL_EXCEPT_IPA" />
    <BaseReport ReportId="ACT0034" BulkLinkType="ALL" />
    <BaseReport ReportId="ACT0038" BulkLinkType="IPA_ONLY" />
    <BaseReport ReportId="ACT0043" BulkLinkType="ALL_EXCEPT_IPA" />
    <BaseReport ReportId="ACT0047" BulkLinkType="ALL_EXCEPT_IPA" />
    <BaseReport ReportId="ACT0047_IPA" BulkLinkType="IPA_ONLY" DestinationReportId="ACT0047"/>
    <BaseReport ReportId="ACT0047a" BulkLinkType="ALL_EXCEPT_IPA_BOOKS"/>
    <BaseReport ReportId="ACT0047a_books" BulkLinkType="BOOKS_ONLY" DestinationReportId="ACT0047a"/>
    <BaseReport ReportId="ACT0047a_CRA" BulkLinkType="CRA_ONLY" DestinationReportId="ACT0047a"/>
	<BaseReport ReportId="ACT0047a_IPA" BulkLinkType="IPA_ONLY" DestinationReportId="ACT0047a"/>
    <BaseReport ReportId="ACT0047b" BulkLinkType="IPA_ONLY" />
    <BaseReport ReportId="ACT0047c" BulkLinkType="ALL_EXCEPT_IPA" />
	<BaseReport ReportId="ACT0047c_Audio" BulkLinkType="AUDIO_ONLY" DestinationReportId="ACT0047c_Audio"/>
	<BaseReport ReportId="ACT0047c_CRA" BulkLinkType="CRA_ONLY" DestinationReportId="ACT0047c"/>
    <BaseReport ReportId="ACT0047d" BulkLinkType="CRA_ONLY"/>
    <BaseReport ReportId="ACT0047e" BulkLinkType="ALL"/>
    <BaseReport ReportId="ACT0047e_IPA" BulkLinkType="IPA_ONLY" DestinationReportId="ACT0047e"/>
    <BaseReport ReportId="ACT0047f" BulkLinkType="ALL_EXCEPT_IPA"/>
    <BaseReport ReportId="ACT0064" BulkLinkType="ALL" />
    <BaseReport ReportId="ACT0064_IPA" BulkLinkType="IPA_ONLY" DestinationReportId="ACT0064"/>
    <BaseReport ReportId="ACT0064P" BulkLinkType="ALL_EXCEPT_IPA" />
    <BaseReport ReportId="ACT0110" BulkLinkType="ALL" />
    <BaseReport ReportId="ACT0110b" BulkLinkType="IPA_ONLY" />
    <BaseReport ReportId="ACT0200" BulkLinkType="ALL_EXCEPT_IPA" />
    <BaseReport ReportId="ACT0282" BulkLinkType="ALL_EXCEPT_IPA" />
    <BaseReport ReportId="ACT0319" BulkLinkType="IPA_ONLY" />
	<BaseReport ReportId="ACT0333" BulkLinkType="CRA_ONLY" />
	<BaseReport ReportId="ACT0345" BulkLinkType="CRA_ONLY" />
	<BaseReport ReportId="ACT0346" BulkLinkType="CRA_ONLY" />
    <BaseReport ReportId="ACT0347" BulkLinkType="CRA_ONLY" />
  </LinkedReports>
</Reports>

