<?xml version="1.0" encoding="utf-8"?>
<Reports>
  <DestinationFolder>/BaseReports/10 - Keywords and Statuses</DestinationFolder>
  <LinkedReports LinkTypeSubstituteDestinationPath="/%Substitute%/10 - Keywords and Statuses">
    <BaseReport ReportId="ACT0005" BulkLinkType="ALL_EXCEPT_IPA" />
    <BaseReport ReportId="ACT0006" BulkLinkType="ALL_EXCEPT_IPA" />
    <BaseReport ReportId="ACT0027" BulkLinkType="ALL"/>
    <BaseReport ReportId="ACT0049" BulkLinkType="ALL_EXCEPT_IPA" />
    <BaseReport ReportId="ACT0049A" BulkLinkType="ALL" />
    <BaseReport ReportId="ACT0050" BulkLinkType="ALL"/>
    <BaseReport ReportId="ACT0056" BulkLinkType="ALL" />
    <BaseReport ReportId="ACT0068" BulkLinkType="ALL_EXCEPT_IPA" />
    <BaseReport ReportId="ACT0240" BulkLinkType="ALL_EXCEPT_IPA" />
    <BaseReport ReportId="ACT0281" BulkLinkType="ALL_EXCEPT_IPA" />
  </LinkedReports>
</Reports>