<?xml version="1.0" encoding="utf-8"?>
<Reports>
  <DestinationFolder>/BaseReports/07 - Accruals</DestinationFolder>
  <LinkedReports LinkTypeSubstituteDestinationPath="/%Substitute%/07 - Accruals">
    <BaseReport ReportId="ACT0024" BulkLinkType="ALL_EXCEPT_IPA" />
    <BaseReport ReportId="ACT0041" BulkLinkType="ALL_EXCEPT_IPA_BOOKS"/>
    <BaseReport ReportId="ACT0041_Books" BulkLinkType="BOOKS_ONLY" DestinationReportId="ACT0041"/>
    <BaseReport ReportId="ACT0041a" BulkLinkType="ALL_EXCEPT_IPA" />
    <BaseReport ReportId="ACT0041b" BulkLinkType="ALL_EXCEPT_IPA" />
    <BaseReport ReportId="ACT0062" BulkLinkType="ALL" />
    <BaseReport ReportId="ACT0080" BulkLinkType="IPA_ONLY" />
    <BaseReport ReportId="ACT0080_sub" BulkLinkType="IPA_ONLY" />
    <BaseReport ReportId="ACT0080b" BulkLinkType="IPA_ONLY"/>
    <BaseReport ReportId="ACT0080b_sub" BulkLinkType="IPA_ONLY"/>
    <BaseReport ReportId="ACT0101" BulkLinkType="ALL_EXCEPT_IPA" />
    <BaseReport ReportId="ACT0170" BulkLinkType="IPA_ONLY" />
    <BaseReport ReportId="ACT0210" BulkLinkType="ALL_EXCEPT_IPA"/>
    <BaseReport ReportId="ACT0210b" BulkLinkType="CRA_ONLY"/>
    <BaseReport ReportId="ACT0230" BulkLinkType="ALL_EXCEPT_IPA" />
    <BaseReport ReportId="ACT0298" BulkLinkType="ALL_EXCEPT_IPA" />
    <BaseReport ReportId="ACT0312" BulkLinkType="IPA_ONLY" />
    <BaseReport ReportId="ACT0323" BulkLinkType="IPA_ONLY" />
    <BaseReport ReportId="ACT0325" BulkLinkType="ALL_EXCEPT_IPA" />
    <BaseReport ReportId="ACT0325_IPA" BulkLinkType="IPA_ONLY" DestinationReportId="ACT0325"/>
    <BaseReport ReportId="ACT0328" BulkLinkType="IPA_ONLY" />
    <BaseReport ReportId="ACT0328_level1" BulkLinkType="IPA_ONLY" Hidden="True"/> 
    <BaseReport ReportId="ACT0328_level2" BulkLinkType="IPA_ONLY" Hidden="True"/>
    <BaseReport ReportId="ACT0331" BulkLinkType="ALL_EXCEPT_IPA" />
    <BaseReport ReportId="ACT0351" BulkLinkType="CRA_ONLY"/>
    <BaseReport ReportId="ACT0344" BulkLinkType="IPA_ONLY" />
  </LinkedReports>
</Reports>